ADMIN_PASSWORD=changeme123
JWT_SECRET=37be573ce49bafd5b6dc87d29b69a2d1faef815097d104a289baf043146b9623
TURSO_DATABASE_URL=libsql://your-database-name-your-org.turso.io
TURSO_AUTH_TOKEN=your-turso-auth-token
